* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: "Raleway", Arial, sans-serif;
}
html, body {
  font-size: 15px;
  line-height: 1.5;
}
.navbar {
padding: 60px;
font-size: 24px;
}
.navbar ul li a {
  text-decoration: none;
}
.navbar ul li {
  margin-top: 16px;
  list-style-type: none;
  margin-right: 20px;
  margin-left: 0px;
}
label {
  display: inline-block;
  text-align: center;
  align-items: center;
  width: 80%;

}
input {
  text-align: center;
  display: inline-block;
  margin: 0 auto;
  width: 100%;
  padding: 10px;

}
.form {
  display: block;
  text-align: center;
}
#center {
  max-width: 100%;
  height: auto;
  padding-left: 20%;
}
p{
  display: block;
  text-align: center;
  padding-left: 20%;
  padding-right: 15%;
  font-size: 15px;
}
.one{
  max-width: 100%;
  height: auto;
  display: block;
  vertical-align: middle;
color: #000;
background-color: #f1f1f1;
padding-top: 64px !important;
padding-bottom: 64px !important;
}

@media screen and (max-width: 700px) {
 .column {
   display: block;
   width: 5px;

 }
}
.image1 {

}
.image2 {
display: flex;
position: absolute;
right:0;
top:120px;
left:699px;

}
.image3{
  vertical-align: middle;
margin: 0;
top: 0;
}
.image4 {
  position:relative;
  float: right;
  left:699px;
  bottom: 100%;
}

.row {
  content: "";
  display: table;
  clear: left;
}
.column {
width:49.99999%;
float: left;
margin-bottom: -16px;

}
.content {
  display: block;
}
img {
  border-style: none;
}
.image {
  max-width: 100%;
  height: auto;
  vertical-align: middle;
  text-align: center;
}
.center {
  text-align: center;
}
