* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: "Raleway", Arial, sans-serif;
}
html, body {
  font-size: 15px;
  line-height: 1.5;
}
.navbar {
padding: 60px;
font-size: 24px;
}
.navbar ul li a {
  text-decoration: none;
  color: black;
}
.navbar ul li {
  margin-top: 16px;
  list-style-type: none;
  margin-right: 20px;
  margin-left: 0px;
}
label {
  display: inline-block;
  text-align: center;
  align-items: center;
  width: 80%;

}
input {
  text-align: center;
  display: inline-block;
  margin: 0 auto;
  width: 100%;
  padding: 10px;

}
#center {
  max-width: 100%;
  height: auto;
  padding-left: 20%;
}
p{
  display: block;
  text-align: center;
  padding-left: 20%;
  padding-right: 15%;
  font-size: 15px;
}
.column {
width:50%;
float: left;
}


.image {
  max-width: 100%;
  height: auto;
  vertical-align: middle;
  text-align: center;
}
.center {
  text-align: center;
}
@media screen and (max-width: 600px) {
  .column {
    width: 100%;
  }

}
