
*{
  box-sizing: border-box;
}

image {
  max-width: 100%;
  height: auto
}
.container{
position: relative;
display: block;
margin-left:auto;
margin-right:auto;
max-width:980px;
text-align: center;
display: inline-block;
  width: auto;
}
.middle{
  position: absolute;
 top: 50%;
 left: 50%;
 transform: translate(-50%, -50%);
 -ms-transform: translate(-50%, -50%)
 padding: 12px 24px ;
 border: 1px solid #eee;
 margin: 15px 0px;
 letter-spacing: 4px;
 color: white;
 font-size: 24px;

}
